/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
ar-lib
app.info
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
ltmain.sh
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
missing
test-driver
stamp-h1
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
*.trs
*.dirstamp

/.settings/
.autotools
.project


# vi / vim files
*~
.*.swp

# execute file
bin/
tests/bin/
/lib
